@using Microsoft.AspNetCore.Authentication
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

	@if (User.Identity.IsAuthenticated) {
		<pre style="text-align:left">
			@foreach(var claim in User.Claims){
				<span style="font-size:1.3em">Type: @claim.Type</span>
				<span style="color:#c0c0c0">ValueType: @claim.ValueType</span>
				<span>Value: @claim.Value</span>
				<br />
			}
		</pre>

		<dt>access token</dt>
		<dd><pre> @await ViewContext.HttpContext.GetTokenAsync("access_token")</pre></dd>

		<dt>refresh token</dt>
		<dd><pre>@await ViewContext.HttpContext.GetTokenAsync("refresh_token")</pre></dd>
		<pre>@Html.Raw(ViewData["ApiClaims"])</pre>
	}
</div>
